{% macro icon(icon) %}
    {% if icon %}
        {% if 'fa-' in icon %}
            {% set classes = icon %}
        {% else %}
            {% set cleaned = icon|replace({'fa ': '', 'fa-': ''}) %}
            {% if ' ' in cleaned %}
                {% set parts = cleaned|split(' ') %}
            {% elseif ':' in cleaned %}
                {% set parts = cleaned|split(':') %}
            {% elseif '/' in cleaned %}
                {% set parts = cleaned|split('/') %}
            {% else %}
                {% set parts = [cleaned] %}
            {% endif %}
            {% set style = parts|length > 1 ? parts[0] : 'solid' %}
            {% set name = parts|last %}
            {% set classes = 'fa-' ~ style ~ ' fa-' ~ name %}
        {% endif %}
        <i class="{{ classes|trim }}"></i>
    {% endif %}
{% endmacro %}

{% macro navbar_children(page) %}
    {% import _self as nav %}
    {% for child in page.children.visible %}
        {% set is_active = (child.active or child.activeChild) ? 'uk-active' : '' %}
        {% set has_children = child.children.visible.count > 0 %}
        <li class="{{ has_children ? 'uk-parent ' : '' }}{{ is_active }}">
            <a href="{{ child.url }}">
                {{ nav.icon(child.header.icon) }}
                {{ child.menu }}
            </a>
            {% if has_children %}
                <ul class="uk-nav-sub">
                    {{ nav.navbar_children(child) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% macro navbar_items(pages, dropdown_enabled) %}
    {% import _self as nav %}
    {% for page in pages.children.visible %}
        {% set is_active = (page.active or page.activeChild) ? 'uk-active' : '' %}
        {% set has_children = page.children.visible.count > 0 %}
        <li class="{{ dropdown_enabled and has_children ? 'uk-parent ' : '' }}{{ is_active }}">
            <a href="{{ page.url }}">
                {{ nav.icon(page.header.icon) }}
                {{ page.menu }}
            </a>
            {% if dropdown_enabled and has_children %}
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        {{ nav.navbar_children(page) }}
                    </ul>
                </div>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% macro offcanvas_list(page) %}
    {% import _self as nav %}
    {% for child in page.children.visible %}
        {% set is_active = (child.active or child.activeChild) ? 'uk-active' : '' %}
        <li class="{{ is_active }}">
            <a href="{{ child.url }}">
                {{ nav.icon(child.header.icon) }}
                {{ child.menu }}
            </a>
            {% if child.children.visible.count > 0 %}
                <ul class="uk-nav-sub">
                    {{ nav.offcanvas_list(child) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% import _self as nav %}
{% set dropdown_enabled = theme_config.dropdown.enabled %}
{% set display_variant = variant|default('navbar') %}

{% if display_variant == 'offcanvas' %}
    <ul class="uk-nav uk-nav-default">
        {{ nav.offcanvas_list(pages) }}
        {% for mitem in site.menu %}
            <li>
                <a href="{{ mitem.url }}">
                    {{ nav.icon(mitem.icon) }}
                    {{ mitem.text }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <ul class="uk-navbar-nav">
        {{ nav.navbar_items(pages, dropdown_enabled) }}
        {% for mitem in site.menu %}
            <li>
                <a href="{{ mitem.url }}">
                    {{ nav.icon(mitem.icon) }}
                    {{ mitem.text }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
